.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
  }
  
  .header {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .todo-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    width: 80%;
  }
  
  .column {
    width: 250px;
    min-height: 400px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .column.todo {
    background-color: #ffdddd;
  }
  
  .column.in-progress {
    background-color: #fff6dd;
  }
  
  .column.done {
    background-color: #ddffdd;
  }
  
  .column h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .task {
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: grab;
    display: flex;
    align-items: center;
  }
  
  .task p {
    margin: 0;
    font-size: 1em;
    color: #333;
  }
  
  .task.dragging {
    opacity: 0.5;
    background-color: #e0ffe0;
  }
  
  
  .delete-icon {
    cursor: pointer;
    margin-left: 10px;
    color: #ff0000; 
    font-size: 1.2em;
  }
  
  .delete-icon:hover {
    color: #c70000; 
  }